<div class="container">
  <article>
    <header>
      <h1><%= link_to @post.title, post_path(@post) %></h1>
      <div class="postmeta">
        <time datetime="<%= @post.created_at.to_date %>"><%= @post.created_at.to_s(:short) %></time>
      </div>
    </header>
    <p><%= @post.content %></p>
    <%= link_to 'Edit', edit_speech_path(@speech) if permitted_to? :edit, @post %>
    <p>&nbsp;</p>
  </article>
</div>


